.App {
  min-height: 100vh;
  min-width: 100vh;
  text-align: center;
}


.header {
  position: relative;
  background-color: transparent;
  color: #fa5858;
  font-family: 'Ewert', cursive;
}

.header__logo {
  height: 12.5rem;
  position: absolute;
  margin-top: 2rem;
  top: 5%;
  left: 5%;
  margin-left: .5rem;
}

.header__text-box {
  position: absolute;
  font-size: 8rem;
  margin-top: .8rem;
  padding: 2.4rem;
  text-align: center;  
  border-radius: 20rem;
  left: 25%;
}


.main-body {
  background-color: #eee;
  background-size: cover;
  border: solid 1px #fff;
  box-shadow:
    inset 60px 0 120px #fa5858,
    inset -60px 0 120px grey;
  min-height: 60rem;
  text-align: center;
  font-size: 2rem;
}

.main-side {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.main-side__composition {
  position: relative;
}

.main-side__composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(black, .4);
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  transition: all .2s;
  outline-offset: 1rem;
}

.main-side__composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.main-side__composition__photo--p2 {
  left: 0;
  top: 2rem;
}

.main-side__composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.item-gallery {
  margin-top: .5rem;
  cursor: pointer;
  position: relative;
}

.item-gallery__image {
  pointer-events: none;
  height: 8rem;
  width: 8rem;
  margin: .75rem;
  margin-left: 24rem;
}

.item-gallery__label {
  position: absolute;
  font-size: 2rem;
}

/* .item-button__next {

  background-image: url(./styles/svg/next-1.svg);
  max-height: 5%;
  max-width: 5%;
  margin: 50px;
}

.item-button__prev {
  position: absolute;
  background-image: url(./styles/svg/back.svg);
  max-height: 5%;
  max-width: 5%;
  margin: 50px;
} */

.item-box {
  box-sizing: border-box;
  margin-top: 3rem;
  margin-left: 40%;
  max-width: 50rem;
  max-height: 50rem;
  background-color: lightblue ;
  background-size: cover;
  border: solid .5rem #eee;
  border-radius: 1rem;
  box-shadow:
    inset 60px 0 120px #FAA80E,
    inset -60px 0 120px #FAA80E;
  text-align: center;
  padding: .2rem;
}

.item-box__text {
  margin-bottom: 5rem;
}

.item-box__closebtn {
  background-image: url(./styles/svg/cancel.svg);
  background-repeat: no-repeat;
  margin-right: .5rem;
  margin-top: .5rem;
  width: 5%;
  height: 5%;
  cursor: pointer;
}

.footer {
  padding: .25rem;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}