.App {
  min-height: 100vh;
  position: relative;
  min-width: 100vh;
  text-align: center;
}


.App-header {
  background-color: transparent;
  color: #fa5858;
}

.App-body {
  height: 75%;
  background-color: #eee;
  background-size: cover;
  border: solid 1px #fff;
  box-shadow:
    inset 60px 0 120px #fa5858,
    inset -60px 0 120px grey;
  min-height: 50rem;
  text-align: center;
}

.item-gallery {
  margin-top: 5px;
  cursor: pointer;
}

.item-gallery__image {
  pointer-events: none;
  height: 5rem;
  width: 5rem;
  margin: 7.5px;
  margin-left: 15rem;
}

.item-gallery__label {
  position: relative;
}

/* .item-button__next {

  background-image: url(./styles/svg/next-1.svg);
  max-height: 5%;
  max-width: 5%;
  margin: 50px;
}

.item-button__prev {
  position: absolute;
  background-image: url(./styles/svg/back.svg);
  max-height: 5%;
  max-width: 5%;
  margin: 50px;
} */

.Skills-link {
  background-color: red;
  opacity: 0;
  font-size: 3rem;
  width: 200px;
  height: 60px;
  position: absolute;
  top: 20%;
  left: 3%;
}

.main-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.App-logo {
  height: 125px;
  position: absolute;
  top: 3%;
  left: -50px;
}

.App-header-text {
  position: absolute;
  float: left;
  margin-right: 5vh;
  background-color: #eee;
  color: #fa5858;
  width: 75%;
  padding: 1.5rem;
  text-align: center;  
  border-radius: 200px;
  font-size: 24px;
  left: 10rem;
  top: .5rem;
}

.App-intro {
  position: absolute;
  background-color: transparent;
  color: #fa5858;
  width: 50%;
  padding: 50px;
  top: 20%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;  
  border-radius: 200px;
  font-size: 24px;
  margin-top: 50px;
  opacity: .9;
}

.Skills-text-box {
  position: absolute;
  background-color:  #FAA80E;
  color: #616160;
  width: 50%;
  height: 250px;
  padding: 50px;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;  
  font-size: 1.25rem;
  border: 10px dotted black;
  border-radius: 10px;
  margin-top: 50px;
  opacity: .95;
  text-decoration: none;
}

.App-footer {
  padding: 25px;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}